In [1]:
# Step 1. Import the necessary libraries

import pandas as pd
import numpy as np

In [2]:
# Step 2. Import the dataset

df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data')

In [3]:
# Step 3. Assign it to a variable called iris

iris = df
iris.head()

   5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

In [4]:
# Step 4. Create columns for the dataset
# 1. sepal_length (in cm)
# 2. sepal_width (in cm)
# 3. petal_length (in cm)
# 4. petal_width (in cm)
# 5. class

iris.columns =['sepal_length (in cm)', 'sepal_width (in cm)', 'petal_length (in cm)', 'petal_width (in cm)','class']

In [5]:
iris.head()

,sepal_length (in cm),sepal_width (in cm),petal_length (in cm),petal_width (in cm),class
0,4.9,3.0,1.4,0.2,Iris-setosa
1,4.7,3.2,1.3,0.2,Iris-setosa
2,4.6,3.1,1.5,0.2,Iris-setosa
3,5.0,3.6,1.4,0.2,Iris-setosa
4,5.4,3.9,1.7,0.4,Iris-setosa

In [6]:
# Step 5. Is there any missing value in the dataframe?

iris.isnull().values.sum() # No Null value

0

In [7]:
# Step 6. Lets set the values of the rows 10 to 29 of the column 'petal_length' to NaN

iris.loc[10:29, ['petal_length (in cm)']] = [np.nan]
iris.head(32)

,sepal_length (in cm),sepal_width (in cm),petal_length (in cm),petal_width (in cm),class
0,4.9,3.0,1.4,0.2,Iris-setosa
1,4.7,3.2,1.3,0.2,Iris-setosa
2,4.6,3.1,1.5,0.2,Iris-setosa
3,5.0,3.6,1.4,0.2,Iris-setosa
4,5.4,3.9,1.7,0.4,Iris-setosa
5,4.6,3.4,1.4,0.3,Iris-setosa
6,5.0,3.4,1.5,0.2,Iris-setosa
7,4.4,2.9,1.4,0.2,Iris-setosa
8,4.9,3.1,1.5,0.1,Iris-setosa
9,5.4,3.7,1.5,0.2,Iris-setosa
10,4.8,3.4,NaN,0.2,Iris-setosa
11,4.8,3.0,NaN,0.1,Iris-setosa
12,4.3,3.0,NaN,0.1,Iris-setosa
13,5.8,4.0,NaN,0.2,Iris-setosa
14,5.7,4.4,NaN,0.4,Iris-setosa
15,5.4,3.9,NaN,0.4,Iris-setosa
16,5.1,3.5,NaN,0.3,Iris-setosa
17,5.7,3.8,NaN,0.3,Iris-setosa
18,5.1,3.8,NaN,0.3,Iris-setosa
19,5.4,3.4,NaN,0.2,Iris-setosa
20,5.1,3.7,NaN,0.4,Iris-setosa
21,4.6,3.6,NaN,0.2,Iris-setosa
22,5.1,3.3,NaN,0.5,Iris-setosa
23,4.8,3.4,NaN,0.2,Iris-setosa
24,5.0,3.0,NaN,0.2,Iris-setosa
25,5.0,3.4,NaN,0.4,Iris-setosa
26,5.2,3.5,NaN,0.2,Iris-setosa
27,5.2,3.4,NaN,0.2,Iris-setosa
28,4.7,3.2,NaN,0.2,Iris-setosa
29,4.8,3.1,NaN,0.2,Iris-setosa
30,5.4,3.4,1.5,0.4,Iris-setosa
31,5.2,4.1,1.5,0.1,Iris-setosa

In [8]:
# Step 7. Good, now lets substitute the NaN values to 1.0

iris['petal_length (in cm)'].replace(np.nan,1.0,inplace=True)
iris.head(32)

,sepal_length (in cm),sepal_width (in cm),petal_length (in cm),petal_width (in cm),class
0,4.9,3.0,1.4,0.2,Iris-setosa
1,4.7,3.2,1.3,0.2,Iris-setosa
2,4.6,3.1,1.5,0.2,Iris-setosa
3,5.0,3.6,1.4,0.2,Iris-setosa
4,5.4,3.9,1.7,0.4,Iris-setosa
5,4.6,3.4,1.4,0.3,Iris-setosa
6,5.0,3.4,1.5,0.2,Iris-setosa
7,4.4,2.9,1.4,0.2,Iris-setosa
8,4.9,3.1,1.5,0.1,Iris-setosa
9,5.4,3.7,1.5,0.2,Iris-setosa
10,4.8,3.4,1.0,0.2,Iris-setosa
11,4.8,3.0,1.0,0.1,Iris-setosa
12,4.3,3.0,1.0,0.1,Iris-setosa
13,5.8,4.0,1.0,0.2,Iris-setosa
14,5.7,4.4,1.0,0.4,Iris-setosa
15,5.4,3.9,1.0,0.4,Iris-setosa
16,5.1,3.5,1.0,0.3,Iris-setosa
17,5.7,3.8,1.0,0.3,Iris-setosa
18,5.1,3.8,1.0,0.3,Iris-setosa
19,5.4,3.4,1.0,0.2,Iris-setosa
20,5.1,3.7,1.0,0.4,Iris-setosa
21,4.6,3.6,1.0,0.2,Iris-setosa
22,5.1,3.3,1.0,0.5,Iris-setosa
23,4.8,3.4,1.0,0.2,Iris-setosa
24,5.0,3.0,1.0,0.2,Iris-setosa
25,5.0,3.4,1.0,0.4,Iris-setosa
26,5.2,3.5,1.0,0.2,Iris-setosa
27,5.2,3.4,1.0,0.2,Iris-setosa
28,4.7,3.2,1.0,0.2,Iris-setosa
29,4.8,3.1,1.0,0.2,Iris-setosa
30,5.4,3.4,1.5,0.4,Iris-setosa
31,5.2,4.1,1.5,0.1,Iris-setosa

In [9]:
# Step 8. Now let's delete the column class

iris.drop(['class'],axis = 1, inplace=True)
iris.head()

,sepal_length (in cm),sepal_width (in cm),petal_length (in cm),petal_width (in cm)
0,4.9,3.0,1.4,0.2
1,4.7,3.2,1.3,0.2
2,4.6,3.1,1.5,0.2
3,5.0,3.6,1.4,0.2
4,5.4,3.9,1.7,0.4

In [10]:
# Step 9. Set the first 3 rows as NaN

iris.loc[:2, :] = [np.nan]
iris.head(5)

,sepal_length (in cm),sepal_width (in cm),petal_length (in cm),petal_width (in cm)
0,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN
3,5.0,3.6,1.4,0.2
4,5.4,3.9,1.7,0.4

In [13]:
# Step 10. Delete the rows that have NaN

iris.dropna(inplace=True) 
iris.head()

,sepal_length (in cm),sepal_width (in cm),petal_length (in cm),petal_width (in cm)
3,5.0,3.6,1.4,0.2
4,5.4,3.9,1.7,0.4
5,4.6,3.4,1.4,0.3
6,5.0,3.4,1.5,0.2
7,4.4,2.9,1.4,0.2

In [14]:
# Step 11. Reset the index so it begins with 0 again

iris.reset_index(drop=True)

,sepal_length (in cm),sepal_width (in cm),petal_length (in cm),petal_width (in cm)
0,5.0,3.6,1.4,0.2
1,5.4,3.9,1.7,0.4
2,4.6,3.4,1.4,0.3
3,5.0,3.4,1.5,0.2
4,4.4,2.9,1.4,0.2
...,...,...,...,...
141,6.7,3.0,5.2,2.3
142,6.3,2.5,5.0,1.9
143,6.5,3.0,5.2,2.0
144,6.2,3.4,5.4,2.3
145,5.9,3.0,5.1,1.8